.Weather {
  color: #878787;
}

.card {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}

.Weather h1 {
  font-size: 24px;

  font-weight: 800;
  margin: 20px 0 0;
  line-height: 29px;
  text-align: left;
}

.Weather ul {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  list-style: none;
  padding: 0;
  text-align: left;
}

.Weather .img-icon {
  display: block;
}

.Weather .temperature {
  color: black;
  font-size: 64px;
  position: relative;
  top: 40px;
}

.Weather .unit {
  color: black;
  position: relative;
  top: 10px;
}
